<!--
Hansen Cheng
Feb 01 2025
Web Layout Assignment HTML
-->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>work | web layout assignment </title>
    <link rel="icon" href="images/ModernHCLogo.png">
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="container">
      
      <section class="showcase">
        <img src="images/monos.png" alt="Showcase Image" />
        <div class="showcase-content">
          <h1><a href="https://example.com">Super Fast Widgets</a></h1>
          <p class="description">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget mi accumsan, hendrerit arcu eu, malesuada mauris.
          </p>
          <a href="https://example.com" class="url">www.example.com</a>
        </div>
      </section>

      <section class="gallery">
        <div class="gallery-item">
          <img src="images/monos.png" alt="Gallery Image" />
          <div class="content">
            <h2><a href="https://example.com">Super Fast Widgets</a></h2>
            <a href="https://example.com" class="url">www.example.com</a>
          </div>
        </div>
        <div class="gallery-item">
          <img src="images/monos.png" alt="Gallery Image" />
          <div class="content">
            <h2><a href="https://example.com">Super Fast Widgets</a></h2>
            <a href="https://example.com" class="url">www.example.com</a>
          </div>
        </div>
        <div class="gallery-item">
          <img src="images/monos.png" alt="Gallery Image" />
          <div class="content">
            <h2><a href="https://example.com">Super Fast Widgets</a></h2>
            <a href="https://example.com" class="url">www.example.com</a>
          </div>
        </div>
        <div class="gallery-item">
          <img src="images/monos.png" alt="Gallery Image" />
          <div class="content">
            <h2><a href="https://example.com">Super Fast Widgets</a></h2>
            <a href="https://example.com" class="url">www.example.com</a>
          </div>
        </div>
        <div class="gallery-item no-phone">
          <img src="images/monos.png" alt="Gallery Image" />
          <div class="content">
            <h2><a href="https://example.com">Super Fast Widgets</a></h2>
            <a href="https://example.com" class="url">www.example.com</a>
          </div>
        </div>
        <div class="gallery-item no-phone">
          <img src="images/monos.png" alt="Gallery Image" />
          <div class="content">
            <h2><a href="https://example.com">Super Fast Widgets</a></h2>
            <a href="https://example.com" class="url">www.example.com</a>
          </div>
        </div>
        <div class="gallery-item no-tablet">
          <img src="images/monos.png" alt="Gallery Image" />
          <div class="content">
            <h2><a href="https://example.com">Super Fast Widgets</a></h2>
            <a href="https://example.com" class="url">www.example.com</a>
          </div>
        </div>
        <div class="gallery-item no-tablet">
          <img src="images/monos.png" alt="Gallery Image" />
          <div class="content">
            <h2><a href="https://example.com">Super Fast Widgets</a></h2>
            <a href="https://example.com" class="url">www.example.com</a>
          </div>
        </div>

      </section>
    </div>
  </body>
</html>
